@model MinhasFinancas.Domain.Entidades.Plano_Conta


@{
    ViewData["Title"] = "EditarPlanoConta";
}

<h3>Edite as informações do seu plano</h3>
<br />
<form asp-controller="PlanoConta" asp-action="EditarPlanoConta">
    <div class="form-group">
        <label>Descrição:</label>
        <input type="text" asp-for="Descricao" class="form-control" />
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Tipo:</label>
        <div class="row">
            <div class="custom-radio">
                <label><input type="radio" asp-for="Tipo" class="form-control" value="R" />Receita</label>
            </div>
            <div class="custom-radio">
                <label><input type="radio" asp-for="Tipo" class="form-control" value="D" />Despesa</label>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-block btn-success">Editar</button>
</form>
<br />
<button type="button" class="btn btn-block btn-primary" onclick="Voltar()">Voltar</button>
<script>
    function Voltar()
    {
        window.location.href = "../";
    }
</script>