<h2>Menu Principal</h2>


<div class="row" style="text-align:center">
        <div class="col-lg-4">
            <img src="~/images/conta.png" style="width:40%" />
            <a href="../Conta/Index"><h4>Criar Conta</h4></a>
        </div>
        <div class="col-lg-4">
            <img src="~/images/planocontas.png" style="width:40%" />
            <a href="../PlanoConta/Index"><h4>Plano de Contas</h4></a>
        </div>
        <div class="col-lg-4">
            <img src="~/images/registrar_transacao.png" style="width:40%" />
            <a href="../Transacao/Index"><h4>Registrar Transação</h4></a>
        </div>
</div>
<br /><br /><br />
<div class="row" style="text-align:center">
    <div class="col-lg-4">
        <img src="~/images/extrato.png" style="width:40%" />
        <a href="../Transacao/Extrato"><h4>Extrato</h4></a>
    </div>
    <div class="col-lg-4">
        <img src="~/images/dashboard.png" style="width:40%" />
        <a href="../Transacao/Dashboard"><h4>Dashboard</h4></a>
    </div>
    <div class="col-lg-4">
        <img src="~/images/ajuda.png" style="width:40%" />
        <a href="../Transacao/Ajuda"><h4>Ajuda</h4></a>
    </div>
</div>


